.company{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 13px;
}
.end__text{
    display: flex;
    .layt{
        text-decoration: none;
        transition: linear 0.3s;
        color: black;
        font-weight: 300;
        position: relative;
        left: 7px;
}
}

.end__icon{
    width: 10%;
    justify-content: space-around;
    display: flex;
    a{
        margin: 0px 15px;
        position: relative;
    }
    ion-icon{
        width: 30px;
        height: 30px;
        position: relative;
        transition: linear 0.5s;
    }
}
.end__text:hover .layt{
    color: #e80566;
}
.end__icon ion-icon:hover {
    color: #e80566;
}
@media only screen and (max-width: 1440px)  {
    .company{
        width: 85%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 13px;
        left: 0px;
        position: relative;
    }
}
@media only screen and (max-width:768px) {
    .end__icon{
        width: 39%;
        /* justify-content: space-around; */
        display: inline-block;
        margin-left: 240px;
        margin-top: 25px;
    }
    .company{
        width: 100%;
    /* height: auto; */
    /* display: block; */
    text-align: center;
    /* justify-content: space-evenly; */
    align-items: center;
    }
    .end__text{
        display:inline-block;
    }
    
}
@media only screen and (max-width:425px) {
    .company{
        width: 100%;
    height: auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 13px;
    }
    .end__text .layt{
        left: 0px;
    }
    .end__icon{
        width: 80%;
        /* justify-content: space-around; */
        display: inline-block;
        margin-left: 46px;
        margin-top: 25px;
    }
}
@media only screen and (max-width:375px) {
    .company{
        width: 100%;
    height: auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 13px;
    }
    .end__text .layt{
        left: 0px;
    }
    .end__icon{
        width: 0;
        /* justify-content: space-around; */
        display: flex;
        margin-left: 190px;
        margin-top: 0;
    }
}
@media only screen and (max-width:320px) {
    .company{
        width: 100%;
    height: auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 13px;
    }
    .end__text .layt{
        left: 0px;
    }
    .end__icon{
        width: 0;
        /* justify-content: space-around; */
        display: flex;
        margin-left: 160px;
        margin-top: 0;
    }
}