@import "../globals/";
@import "../utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root{
    --primary-color:#edf2fc;
    --secondary-color:#21212121;
    --color-text:#1a2c79;
    --color-bg:#e60264;
    --bg-cloud:#f5f5da;
    --bg-sun:#fff;
    --bglight-body:#d9dfe3;
    --bg-dark:#1d2234;
    --bg-light-checkbox-one:#bfd6bb;
    --bg-light-checkbox-two:#90d1c7;
    --bg-dark-checkbox-one:#73abb9;
    --bg-dark-checkbox-two:#335a63;
}

header{
    background:url('https://demo.w3layouts.com/demos_new/template_demo/22-03-2021/call-center-liberty-demo_Free/987049326/web/assets/images/banner1.jpg');
    width: 100%;
    max-width: 100%;
   height: 100vh;
    background-size: cover;
    list-style: none;
    .header__one{
        background: linear-gradient(75deg, rgb(22 37 103 / 84%) 10%, rgb(230 2 100 / 37%));
        position:absolute;
       min-height: 100vh;
        width: 100%;
    }
    
    nav{
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        padding: 20px 0px;
        transition: all 0.5s ease-in-out; 
        ion-icon{
            position: absolute; 
            top: 5px;
            left: 65px;
            color: #fff;
        }
    }
    nav.sticky{
        background: #fff;
        transition: all 0.5s ease-in-out;
        z-index: 1000;  
    }
    ul{
        position: relative;
        display: flex;
       li{
        position:relative;
        margin: 0px 10px;
       }
    }
    nav.sticky a{
        color: #1a2c79;
    }
    nav.stiky #setup{
        background-color: #1c2e7b;
    }
    nav.sticky i{
        background: linear-gradient(75deg, #1c2e7b 10%, #e60264);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    nav.sticky ion-icon{
        color: #1a2c79;
    }
    nav.sticky h1{
        color: #1a2c79;
    }
    a{
        text-decoration: none;
    margin: 20px;
    color: white;
    left: 0px;
    opacity: .8;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    transition: linear 0.5s;
    }
    h1{
        color: aliceblue;
    }
    .search{
        position: relative;
        top: 4px;
        left: 0px;
        color: #000;
        font-weight: bold;
        font-size: 10px;
        width: 50px;
        text-align: center;
        border-radius: 50%;
        align-items: center;
        height: 21px;
    }
   
}
.a__one{
    color: #e60264;
}
body.dark{
    background-color: $color-text;
}
.content{
    display: flex;
    position: relative;
    left: 43px;
    i{
        font-size: 31px;
        color: white;
        font-weight: 900;
        transition: linear 0.2s;
    }
    h1{
        font-size: 25px;
        transition: linear 0.5s;
    }
}
.bigger__one{
    top: 390px;
    position: absolute;
    left: 18%;
    h2{
        font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: white;
    animation: showtitle ease-in-out 1 1s forwards;
    opacity: 0;
    }
    p{
    color: white;
    margin-top: 30px;
    animation: totopimg ease-in-out 1 1s forwards;
    opacity: 0;
    }
    button{
        position: relative;
        padding: 15px;
        margin-top: 30px;
        border-radius: 5px;
        width: 180px;
        background: white;
        transition: linear 0.3s;
        border: 1px solid white;
        animation: showtitle ease-in-out 1 1s forwards;
        opacity: 0;
    #one{
        color: #1a2c79;
        font-weight: 600;
        left: 0;
        margin: 0;
    }
    }
}

    #search-box{
        background:#fff;
        border-radius: 30px;
    }
    #search-box #search-text{
        border: none;
        outline: none;
        background: none;
        // padding: 5px 5px;
        font-size: 10px;
        width: 10px;
        padding: 0;
        transition: all 0.25s ease-in-out;
    }
    #search-box:hover #search-text , #search-box #search-text:valid{
        width: 150px;
        padding: 10px 5px;
        
    }
    #search-box #search-btn{
        background: linear-gradient(75deg, rgb(22 37 103 / 84%) 10%, rgb(230 2 100 / 37%));
        border: none;
        padding: 2px 5px;
        margin-left: -14px;
        cursor: pointer;
        border-radius: 50%;
    }

#wrapper{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    margin-left: 10px;
    left: 0px;
    position: absolute;
    top: 5px;
   }
   .switch-toggle{
    width: 36px;
    height: 20px;
    appearance: none;
    background: #e60264;
    border-radius: 30px;
    box-shadow:inset 0px 0px 16px rgba(0 ,0 ,0 ,.3);
    transition: 0.25s cubic-bezier(.25,-0.59,.82,1.66 );
   }
   .switch-toggle::before{
    content: " ";
    width: 20px;
    height: 20px;
    position:absolute;
    background: #fff;
    border-radius: 50%;
    top: 0px;
    box-shadow: 0px 0px 16px rgba(0 ,0 ,0 ,.3);
    transition: 0.3s;
    transition: 0.25s cubic-bezier(.25,-0.59,.82,1.66 );
   }
   .switch-toggle:checked{
    background:#1a2c79;
    color: white;
   }
   .switch-toggle:checked:before{
    left: 25px;
   }
   .dark-mode{
    background-color: white;
    color: white;
   }
.fa-headphones-simple{
    margin-left: 10px;
}
.collapsible{
    transition: 1s;
}
.clist{
    transition: 0.5s;
}
.clist__one{
background-color: #1a2c79;
border-radius: 10px;
width: 100%;
display: none;
align-items: center;
justify-content: center;
}

.one__fa{
    transform: rotate(180deg);
    transition: 2s;
}
.fa-caret-up{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.clist__one li{
    margin: 10px 0;
}
#clist__a{
    color:#fff;
    font-weight: bold;
    font-size: 14px;
}
#clist__a:hover{
    color: var(--color-bg);
}
.one{
    display: block;
    
}
 #setup{
    display: none;
 }

button:hover{
    background: none;
}
.content:hover h1{
    color: #e80566;
}
.content:hover i{
    color: #e80566;
}
nav.sticky a:hover {
    color: #e80566;
}
button:hover #one{
    color: #fff;
}
// .content i:hover{
//     animation: rotate90 ease-in-out 1 1s forwards;
// }
nav .content:hover{
    animation: slide-right ease-in-out 1 1s forwards;
}
nav ul:hover{
    animation: slide-left ease-in-out 1 1s forwards;
}
nav a:hover{
    color:#1c2e7b;
}

.setting__ul{
    width: 50px;
    height: 57px;
    text-align: center;
    align-items: center;
    padding: 16px 0;
    color: #fff;
    background-color: #1a2c79;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 90%;
    /* justify-content: space-between; */
    right: 0;
    transition: 0.5s;
}
@media only screen and (max-width:1024px) {
    header{
        ul{
            display: none;
        }
        .setting__ul{
            display: block;
        }
        .ul__block{
            animation-delay: 0.5s;
            display: block;
            width: 900px;
            /* height: 239px; */
            position: absolute;
            text-align: center;
            background: #fff;
            margin-top: 74px;
            margin: 58px 50px;
            line-height: 37px;
            align-items: center;
            justify-content: center;
        }
        a{
            color: #1a2c79;
            font-size: 16px;
            font-weight: bold;
            transition: 1s;
        }
        .search{
            color: #1c2e7b;
        }
        .fa-caret-up{
            color: #1a2c79;
        }
        .collapsible{
            margin-left: 15px;
        }
        .far-bars i{
            color: #edf2fc;
        }
        nav{
                /* max-width: 100%; */
    width: 1015px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 20px 0px;
    transition: all 0.5s ease-in-out;
        }
    }
}
@keyframes totopimg{
    from{
        transform: translate(-50% , 20%);
    }
    to{
        opacity: 1;
    }
}
@keyframes showtitle{
    from{
        filter: blur(33px);
        transform: translate(-50% , -80%);
    }
    to{
        opacity: 1;
        filter: blur(0px);
        // transform: translate(-50% , 50%);
    }
}
@keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
//   @keyframes slide-left {
//     0% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//     }
//     100% {
//       -webkit-transform: translateX(-100px);
//               transform: translateX(-100px);
//     }
//   }
  .ballbe img{
    width: 50px;
    animation: ball 40s linear infinite;
  }
  .ballbe{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: -468%;
  }
  @keyframes ball{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-500vh);
        opacity: 0;
    }

}
.ballbe img:nth-child(1){
    animation-delay: 1s;
}
.ballbe img:nth-child(2){
    animation-delay: 3s;
}
.ballbe img:nth-child(3){
    animation-delay: 2s;
}
.ballbe img:nth-child(4){
    animation-delay: 5s;
}
.ballbe img:nth-child(5){
    animation-delay: 2.5s;
}
.ballbe img:nth-child(6){
    animation-delay: 4s;
}
.ballbe img:nth-child(7){
    animation-delay: 3.5s;
}
.ballbe img:nth-child(8){
    animation-delay: 6s;
}
.ballbe img:nth-child(9){
    animation-delay: 4.5s;
}
.ballbe img:nth-child(10){
    animation-delay: 6.5s;
}
.ballbe img:nth-child(11){
    animation-delay: 8s;
}
.ballbe img:nth-child(12){
    animation-delay: 7.5s;
}
.ballbe img:nth-child(13){
    animation-delay: 9s;
}
.ballbe img:nth-child(14){
    animation-delay: 8.5s;
}
.ballbe img:nth-child(15){
    animation-delay: 0.5s;
}
.ballbe img:nth-child(16){
    animation-delay: 1.5s;
}
.ballbe img:nth-child(17){
    animation-delay: 5.5s;
}
.ballbe img:nth-child(18){
    animation-delay: 5s;
}
.ballbe img:nth-child(19){
    animation-delay:3.5s;
}
.ballbe img:nth-child(20){
    animation-delay: 4s;
}
.ballbe img:nth-child(21){
    animation-delay: 3.5s;
}
.ballbe img:nth-child(22){
    animation-delay: 2s;
}
.ballbe img:nth-child(23){
    animation-delay: 0.5s;
}
.ballbe img:nth-child(24){
    animation-delay: 6.5s;
}
.ballbe img:nth-child(25){
    animation-delay: 7.5s;
}
.ballbe img:nth-child(26){
    animation-delay: 6s;
}
.ballbe img:nth-child(27){
    animation-delay: 7s;
}
.ballbe img:nth-child(28){
    animation-delay: 4.5s;
}
.seach__one{
    background-color: #f5f5f5;
    border-radius: 50px;
}
#search1{
    border: none;
    background: none;
    width: 0px;
    outline: none;
    height: 30px;
    align-items: center;
    color: #000;
    transition: 2s linear;
}
.seach__one:hover > #search1{
    width: 150px;
}
.checkboxdesign{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    background-image: linear-gradient(to top  ,
    var( --bg-light-checkbox-one),
    var(    --bg-light-checkbox-two)
    );
    border-radius: 50px;
    box-shadow: 0 0 0 1px var(--bglight-body),
    0 0 0 4px var(--bg-light-checkbox-one);
    transition: 1s;
}
.checkboxdesign input{
display: none;
}
.checkboxdesign::before{
    position: absolute;
    background-color: var(--bg-sun);
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow:37px -5px 0 -7px var(--bg-cloud), 46px -1px 0 -8px var(--bg-cloud), 26px -2px 0 -8px var(--bg-cloud), 35px 5px 0 -7px var(--bg-cloud);
     ;
     transition: 1s;
}
body:has(input[name="checkboxdesign"]:checked){
    background-color: var(--bg-dark);
}
.checkboxdesign:has(input:checked){

    background-image: linear-gradient(to top , var(--bg-dark-checkbox-one), 
    var(--bg-dark-checkbox-two));
}
.checkboxdesign:has(input:checked)::before{
    left: calc(100% - 35px);
    box-shadow:     
    -39px -3px 0 -11px var(--bg-cloud), -29px 2px 0 -13px var(--bg-cloud), -39px 8px 0 -13px var(--bg-cloud), -45px 4px 0 -13px var(--bg-cloud);
}