.onoff{
    position: relative;
    width: 100%;
    min-height: 150vh;
}
.onoff__big{
    #nav_2{
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        border-right: 1px solid rgba(0 , 0 , 0 , 1);
        z-index: 1000;
    }
}