
    .product__bigger{
        margin: auto;
        display: flex;
        max-width: 100%;
        width: 1290px;
        margin-top: 90px;
        margin-bottom: 90px;
}
.product__left{
    animation: showtop ease-in-out 1 1s forwards;
    animation-delay: 2s;
    opacity: 0;
    h2{
        font-size: 36px;
    }
    p{
        font-weight: normal;
    font-size: 16px;
    line-height: 31px;
    width: 90%;
    color: #b7b7b7;
    margin: 14px 0px;
    }
}
.product__left__two{
    display: flex;
    margin: 50px 0px;
    animation: showright ease-in-out 1 1s forwards;
    animation-delay: 2s;
}
.mision{


    i{
        font-size: 37px;
        background: linear-gradient(75deg, #1c2e7b 10%, #e60264);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2{
        font-size: 21px;
    margin-top: 8px;
    }
}
.vision{
    i{
        font-size: 37px;
        background: linear-gradient(75deg, #1c2e7b 10%, #e60264);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2{
        font-size: 21px;
    margin-top: 8px;
    }
    
}


@keyframes showtop{
    from{
        opacity: 0;
        transform: translate(0,100px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes showright{
    from{
        opacity: 0;
        transform: translate(100px,0px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}